<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dayrecords.Dao.RecordFamilyDao">

    <select id="getRecordFamily" resultType="com.example.dayrecords.Bean.RecordFamily">
        select * from record_family
    </select>
</mapper>